/*
main color: #8BC34A
*/
#main-container{
    display: grid;
    grid-template-areas:
    'nav nav nav nav nav nav'
    'side c1 c2 c3 c4 side'
    'side c5 c6 c7 c8 side'
}

#card1{
    grid-area: c1;
}

#card2{
    grid-area: c2; 
}

#card3{
    grid-area: c3;
}

#card4{
    grid-area: c4;
}

#card5{
    grid-area: c5;
}

#card6{
    grid-area: c6;
}

#card7{
    grid-area: c7;
}

#card8{
    grid-area: c8;
}