/*
main color: #8BC34A
*/
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Noto+Sans+Runic&display=swap');
h1{
    font-family: 'Dhurjati', sans-serif;
}
p{
    font-family: 'Dhurjati', sans-serif;
}

#main-container{
    display: grid;
    grid-template-areas:
    'nav nav'
    'hd hd'
    'sc1 sc2'
    'ft ft';
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 10vh 90vh 90vh 30vh;
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8BC34A;
}

#title{
    background-color: #8BC34A;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    text-align: center;
    font-size: 250%;
}

header{
    grid-area: hd;
    background-image: url(../img/forest.jpg);
}

.section1{
    grid-area: sc1;
    margin: 5px;
    background-color: #8BC34A;
}

.section2{
    grid-area: sc2;
    margin: 5px;
    background-color: #8BC34A;
}

#image1{

}